
extends layout

block content
	h1 Products


	div(ng-app='crm_app' ng-controller='ProductsCtrl', ng-init='find()', ng-cloak='')

		button.btn.btn-primary(type="button", ng-click="showForm=true", ng-show="!showForm") CreateNew
		button.btn.btn-danger.cancelBtn(type="button", ng-click="cancel()", ng-if="showForm") X

		.editForm(ng-show="showForm")
			form.form-horizontal
				.form-group
					//- label.col-sm-2.control-label(for='inputInternalID') Internal_ID
					//- .col-sm-10
					//- 	input#inputInternalID.form-control(type='text', ng-model='current.internal_id',
					//- 		placeholder='id interne')

				.form-group
					label.col-sm-2.control-label(for='inputName') Nom
					.col-sm-10
						input#inputName.form-control(type='text', ng-model='current.name',
							placeholder='nom du produit')

				.form-group
					label.col-sm-2.control-label(for='inputType') Type
					.col-sm-10
						input#inputType.form-control(type='text', ng-model='current.type',
							placeholder='type du produit')

				.form-group
					label.col-sm-2.control-label(for='inputPriceSale') Prix de vente
					.col-sm-10
						input#inputPriceSale.form-control(type='number', ng-model='current.price',
							placeholder="prix de vente")


				.form-group
					.col-sm-offset-2.col-sm-10
						button.btn.btn-default(type='submit', ng-click='submitNew()',
							ng-if="!isEditing") Ajouter nouveau
						button.btn.btn-default(type='submit', ng-click='submitEdit()',
							ng-if="isEditing") Editer



		div(ng-show="!showForm")
			table.table.table-striped
				thead
					th #
					th user
					th Nom
					th Type
					th Prix de vente

				tr(ng-repeat="product in products")
					td .
					td {{product.user.email}}
					td {{product.name}}
					td {{product.type}}
					td(ng-if="product.price") {{product.price}}€
					td(ng-if="!product.price") sur demande
					td
						button.btn.btn-primary.btnEdit(type="button",
							ng-click="edit(product)") Modifier
						button.btn.btn-danger(type="button",
							ng-click="delete(product)") Supprimer




	script(src="/mods/app.js")
	script(src="/mods/services/service.product.js")
	script(src="/mods/controllers/ProductsCtrl.js")
