extends ../layout

block content
	h1 Schools list


	div(ng-app='crm_app' ng-controller='SchoolsCtrl', ng-init='find()', ng-cloak='')

		button.btn.btn-primary(type="button", ng-click="showForm=true", ng-show="!showForm") Add
		button.btn.btn-danger.cancelBtn.cancelbtn_right(type="button", ng-click="cancel()", ng-if="showForm") <

		.editForm(ng-show="showForm")
			form.form-horizontal
				.form-group
					label.col-sm-2.control-label(for='inputName') School name
					.col-sm-10
						input#inputName.form-control(type='text', ng-model='current.name',
							placeholder='School name')

				.form-group
					label.col-sm-2.control-label(for='inputType') Address
					.col-sm-10
						input#inputType.form-control(type='text', ng-model='current.address',
							placeholder='Address')


				.form-group
					.col-sm-offset-2.col-sm-10
						button.btn.btn-primary(type='submit', ng-click='submitNew()',
							ng-if="!isEditing") Ajouter nouveau
						button.btn.btn-primary(type='submit', ng-click='submitEdit()',
							ng-if="isEditing") Editer



		div(ng-show="!showForm")
			table.table.table-striped
				thead
					th #
					th School name
					th Address

				tr(ng-repeat="school in schools")
					td .
					td {{school.name}}
					td {{school.address}}
					td
						button.btn.btn-primary.btnEdit(type="button",
							ng-click="edit(school)") Modifier
						button.btn.btn-danger(type="button",
							ng-click="delete(school)") Supprimer



	script(src="/mods/app.js")
	script(src="/mods/services/service.school.js")
	script(src="/mods/controllers/SchoolsCtrl.js")
